<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>
<!--Trying to add image of my CV here. Now it´s on every page but couldn´t get it visible any other way. Päivi Lappalainen 1900653-->
  <div id="container">
    <ion-img src="\assets\resume.jpg"></ion-img>
  </div>
</ion-content>
